# GraphQL Mesh does not currently support hot reloading.
sources:
  - name: HRMS
    handler:
      graphql:
        endpoint: '{env.API_BASEURL}'

transforms:
  - filterSchema:
      mode: bare
      filters:
        - Query.{common}

serve:
  endpoint: /api/graphql
  playground: true
  fork: 0
  browser: false
